$gradientBlue: #00FFF0;
//$gradientBlue: #39C5BB;
$gradientPink: #FF88F3;
$gradientRed: #FF0000;
$gradientBlack: #000000;

$navigateBar-newBlog-border-gradientTopLeft: #00EBDD;
$navigateBar-newBlog-border-gradientBottomRight: #38FFF3;

$login-input-correct: #19B600;
$login-input-wrong: #B60000;
$login-input-notExist: #B6AE00;

$typingHint: #00DACD
