.container {
  z-index: 10;
  position: absolute;
  user-select: none;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5.3vh;
  min-height: 50px;
  display: flex;
  border: 3px solid rgba(255, 255, 255, 0.5019607843);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5019607843) 0%, rgba(255, 255, 255, 0.5019607843) 100%), linear-gradient(90deg, rgba(0, 255, 240, 0.09) -0.18%, rgba(255, 0, 0, 0.2) 100.18%);
  box-shadow: 0 4px 10.1px 0 rgba(0, 0, 0, 0.15);
  animation: merge 0.5s ease-in-out;
}

@keyframes merge {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
