.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 100%;
  overflow: hidden;
}

.container .logo {
  height: 16px;
  aspect-ratio: 11/9.5;
  background: url("../../assets/svg/global/comment.svg") center no-repeat;
  background-size: contain;
  transition: all ease-in-out 0.8s;
}

.container .count {
  font-family: WeiLaiYuan serif;
  font-weight: 500;
}
