.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 10vh;
  backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 2px solid rgba(186, 186, 186, 0.3137254902);
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px 0 20px 0;
  align-items: flex-start;
  gap: 10px;
  animation: containerMerge ease-in-out 0.8s;
}

@keyframes containerMerge {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.container .cancel {
  position: absolute;
  top: 1vh;
  right: 1vh;
  aspect-ratio: 1/1;
  width: 1vw;
  background: url("../../assets/svg/login/cancel.svg") center no-repeat;
  background-size: contain;
  transition: ease-in-out 0.8s;
  transform: rotate(0);
}

.container .cancel:hover {
  transform: rotate(135deg) scale(1.2);
}

.container .mainComment {
  display: flex;
  padding-left: 15px;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.container .mainComment .avatar {
  border-radius: 1vh;
  aspect-ratio: 1/1;
  width: 1vw;
}

.container .mainComment .textContainer {
  display: flex;
  padding-top: 7px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.container .mainComment .textContainer .userInfo {
  display: flex;
  padding: 0 15px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.container .mainComment .textContainer .userInfo .name {
  font-family: "WeiLaiYuan", serif;
  opacity: 80%;
  font-weight: 500;
  font-size: 0.8vw;
}

.container .mainComment .textContainer .userInfo .identity {
  font-family: "WeiLaiYuan", serif;
  opacity: 80%;
  font-weight: 400;
  font-size: 0.65vw;
}

.container .mainComment .textContainer .contentContainer {
  display: flex;
  padding: 0 20px;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.container .mainComment .textContainer .contentContainer .content {
  font-family: "WeiLaiYuan", serif;
  opacity: 80%;
  font-weight: 500;
  font-size: 0.7vw;
  user-select: auto;
  pointer-events: auto;
  padding: 0;
  outline: none;
  border: 0;
  background: none;
}

.container .operateContainer {
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  align-self: stretch;
}

.container .operateContainer .confirm {
  aspect-ratio: 4/5;
  height: 100%;
  background: url("../../assets/svg/global/confirm.svg") center no-repeat;
  background-size: contain;
  transition: ease-in-out 2s;
  transform: translateY(0);
}

.container .operateContainer .confirm:hover {
  transform: translateY(4px);
}
