

.App {
    display: flex;
    flex-direction: column;
    background: linear-gradient(108deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 52%, rgba(255, 255, 255, 0.05) 100%), radial-gradient(331.49% 141.42% at 0% 0%, rgba(173, 255, 250, 0.5) 0%, #FFF 52.5%, rgba(255, 187, 187, 0.5) 100%);
    /*background: linear-gradient(108deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 52%, rgba(255, 255, 255, 0.05) 100%), radial-gradient(331.49% 141.42% at 0% 0%, rgba(173, 255, 250, 0.12) 0%, #FFF 52.5%, rgba(255, 187, 187, 0.19) 100%);*/
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.App::-webkit-scrollbar {
    display: none;
}
